---
import BrandCard from '../components/BrandCard.astro';
const { brands } = Astro.props;
---
<div class="pt-6 px-4 pb-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">    
    {brands.brands.map((brand) => (
      <BrandCard brand={brand} />
    ))}
  </div>
</div>