---
import Line from './Line.astro';
const { index, text } = Astro.props;

---
<Line />
<h2 class="p-4 text-xs uppercase font-mono">
  <span class="text-muted me-2" aria-hidden="true">{index} /</span>
  {text}
</h2>
