---
import getAvailableLocales, { getFallbackLocale, getLocaleSlug } from '../lib/i18n';
import { LOCALE_NAMES } from '../lib/translations';
const availableLocales = await getAvailableLocales();
const fallbackLocale = await getFallbackLocale();
const currentSlug = Astro.url.pathname;
const currentName = LOCALE_NAMES[Astro.currentLocale] ?? Astro.currentLocale?.toUpperCase();
---

<div class="relative inline-block text-left">
  <button id="dropdowntoggle" type="button" class="block corner-effect select-none cursor-pointer" aria-expanded="false" aria-haspopup="true">
    <span class="corner"></span>
    <span class="flex w-full justify-center items-center gap-x-1.5 rounded-sm bg-card px-2 py-1 text-xs uppercase">
      {currentName}
      <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M5.26416 5.44195C5.11771 5.5884 4.88031 5.5884 4.73386 5.44195L0.910615 1.6187C0.76417 1.47225 0.76417 1.23485 0.910615 1.0884L1.0874 0.911595C1.23384 0.765145 1.47128 0.765145 1.61773 0.911595L4.99901 4.2929L8.38031 0.911595C8.52676 0.765145 8.76416 0.765145 8.91061 0.911595L9.08741 1.0884C9.23386 1.23485 9.23386 1.47225 9.08741 1.6187L5.26416 5.44195Z" />
      </svg>
    </span>
  </button>
  <div id="dropdown" class="hidden absolute right-0 z-10 mt-2 min-w-full origin-top-right rounded-sm bg-card border border-border" role="menu" aria-orientation="vertical" aria-labelledby="dropdowntoggle" tabindex="-1">
    <ul class="py-1" role="none">
      {availableLocales
        .filter((locale) => locale !== Astro.currentLocale)
        .map((locale) => (
          <li key={locale}>
            <a
              href={getLocaleSlug(locale, currentSlug)}
              class="block px-3 py-1.5 text-xs uppercase hover:text-foreground text-muted transition-colors"
              role="menuitem"
              tabindex="-1"
            >
              {LOCALE_NAMES[locale] ?? locale}
            </a>
          </li>
        ))}
    </ul>
  </div>
</div>
