---
import ReviewCard from './ReviewCard.astro';

const { reviews } = Astro.props;
---
<div class="overflow-hidden pb-20">
  {reviews.reviews.length === 1 && (
    <ReviewCard review={reviews.reviews[0]} />
  )}
  
  <!-- If we have more than one reviews carousel loads -->
  {reviews.reviews.length > 1 && (
    <div class="carousel-slides grid grid-cols-1">
      {reviews.reviews.map(review => (    
        <div class="carousel-slide col-span-full row-span-full opacity-0 transition-opacity duration-250 ease-in-out">
          <ReviewCard review={review} />
        </div>
      ))}
    </div>
    <div class="flex max-w-[100px] mx-auto gap-4 justify-center items-center">
      <button class="carousel-prev block w-[20px] h-[20px] border border-border rounded-xs flex justify-center items-center cursor-pointer" aria-label="Previous slide">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M5.51465 3L2.51465 6L5.51465 9M9.51465 3L6.51465 6L9.51465 9" stroke="currentColor" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </button>
      
      <div class="carousel-indicators flex justify-center space-x-1.5">
        {reviews.reviews.map((_, index) => (
          <button 
            class="carousel-indicator w-[4px] h-[4px] bg-muted rotate-[45deg] cursor-pointer" 
            aria-label={`Go to slide ${index + 1}`}
          ></button>
        ))}
      </div>

      <button class="carousel-next w-[20px] h-[20px] border border-border rounded-xs flex justify-center items-center cursor-pointer" aria-label="Next slide">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
          <path d="M7.48511 3L10.4851 6L7.48511 9M3.48511 3L6.48511 6L3.48511 9" stroke="currentColor" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </button>
    </div>
  )}
</div>